* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    padding: 30px 40px;
    color: #fff;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    backdrop-filter: blur(9px);
}

.wrapper h1 {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border: 2px solid rgb(255, 255, 255, .2);
    background: transparent;
    color: #fff;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.wrapper .input-box i {
    position: absolute;
    top: 30%;
    right: 20px;
    transform: translate(-50%);
}

.wrapper .rememberme-forgotpassword {
    font-size: 15px;
    margin: -15px 0 15px;
}

.wrapper .rememberme-forgotpassword input {
    margin-right: 3px;
    accent-color: #fff;
}

.wrapper .signup-btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    box-shadow: 2px solid rgb(255, 255, 255, .2);
    background-color: #fff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .login-link {
    text-align: center;
    font-size: 15px;
    margin: 20px 0 15px;
}

.wrapper .login-link a {
    color: #fff;
    text-decoration: none;
}

.wrapper .login-link a:hover {
    text-decoration: underline;
}